.pytest_cache/ 
__pycache__/ 
rec_env310/
recommendation_ai/.pytest_cache/ 
recommendation_ai/__pycache__/ 
recommendation_ai/env_rec310/ 
dnn_recommender/saved_model/*.pt 
recommendation_ai/env_rec310/
dnn_recoomender_stable/saved_model/ 
DNN_TorchFM_TTower/saved_model/
dnn_recommender_stable/saved_model/ 
output/ 
*.pt 
*.h5 
"# Python cache" 
"__pycache__/" 
"*.pyc" 
"# Jupyter" 
".ipynb_checkpoints/" 
"# Virtual environments" 
"env*/" 
"venv*/" 
"# ML model files" 
"*.pt" 
"*.pth" 
"*.h5" 
"*.ckpt" 
"*.joblib" 
"*.pkl" 
"# Logs & outputs" 
"outputs/" 
"logs/" 
"*.log" 
env_rec/
__pycache__/
*.dist-info/
*.egg-info/
"# Checkpoints" 
"checkpoints/" 
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/backend/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


#flask cache
__pycache__/
