.pytest_cache/ 
__pycache__/ 
env_rec310/ 
recommendation_ai/.pytest_cache/ 
recommendation_ai/__pycache__/ 
recommendation_ai/env_rec310/ 
dnn_recommender/saved_model/*.pt 
recommendation_ai/env_rec310/
dnn_recoomender_stable/saved_model/ 
DNN_DeepCTR_Tower/saved_model/
