# Python cache
__pycache__/
*.pyc
.pytest_cache/
*.dist-info/
*.egg-info

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
env*/
venv*/
rec_env310/
recommendation_ai/env_rec310/
env_rec/
.env

# Machine Learning model files
*.pt
*.pth
*.h5
*.ckpt
*.joblib
*.pkl

# Saved models
dnn_recommender/saved_model/*.pt
dnn_recoomender_stable/saved_model/
DNN_TorchFM_TTower/saved_model/
recommendation_ai/.pytest_cache/
recommendation_ai/__pycache__/

# Logs & outputs
output/
outputs/
logs/
*.log

# Checkpoints
checkpoints/

# Dependencies
**/node_modules
/backend/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing
/coverage

# Next.js
**/.next/
/out/

# Production
/build

# Miscellaneous
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files (can opt-in for committing if needed)
.env*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Flask cache
__pycache__/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
