.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--background);
  color: var(--text-color);
  font-family: var(--font-geist-mono);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  align-items: center;
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.searchWrapper {
  position: relative;   /* important: dropdown absolute positioning is relative to this */
  width: 300px;         /* or whatever fixed width you want */
}

.searchInput {
  width: 100%;          /* full width inside wrapper */
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 5px;
  border-color: #fff;
  background-color: #000000;
}

.searchOverlay {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  top: 100%;            
  left: 0;
  width: 100%;          
  background: #2b2a2a;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}

.searchInput::placeholder {
  color: #fff;
}

.searchButton,
.closeButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchResults {
  max-height: 400px;
}

.resultItem {
  display: flex;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
}

.resultItem:hover {
  background: #2b2a2a;
}

.resultItem img {
  margin-right: 10px;
  border-radius: 5px;
}

.nav {
  display: flex;
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.navItem {
  display: flex; 
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  
}

.buttons {
  padding: 7px 7px;
  background-color: brown;
  border: none;
  border-radius: 2px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-items: space-between;
}
