.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.posterImage {
    
    display: block; /* Prevents inline spacing issues */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 8px; /* Optional: rounded corners for aesthetics */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: shadow for a nice effect */
}
.details {
    padding: 30px 0;
    
}
.overview {
    padding-top: 10px;
    padding-bottom: 2em;
}
.details h1 {
    padding: 10px;
    margin-bottom: 1em;
}

.movieActions {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}

.rating {
    display: flex;
    align-items: center;
}

.favoriteBtn, .addToListBtn {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 24px;
}

.listModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: var(--background);
    padding: 20px;
    border-radius: 2px;
    width: 300px;
    text-align: center;
}
.modalContent h3 {
    margin-bottom: 10px;
}
.existingLists {
    text-align: left;
}
.existingLists ul {
    list-style-type: none;
}
.existingLists li {
    padding: 8px ;
    border-bottom: 2px #fff;
    cursor: pointer;
    text-align: center;
}
.existingLists li:hover {
    background-color: #1f1f1f;
}
.existingLists button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modalContent input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 2px;
    border: none;
}
.closeBtn {
    padding: 6px;
    background-color: brown;
    border: none;
    border-radius: 3px;
}

.castContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px; /* Ajout d'un espace entre les éléments */
    justify-content: center;
    padding: 16px; /* Ajout d'un padding pour un meilleur espacement */
}

.actorCard {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage du contenu */
    text-align: center;
    color: #f9f9f9; 
    padding: 8px; /* Espacement interne */
}

.container h3 {
    margin-top: 1em;
    margin-bottom: 1rem;
}

.actorCard h4, .actorCard p {
    font-size: 0.9rem; 
    margin: 4px 0; 

}

.actorProfile {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Cercle parfait */
    object-fit: cover; /* Assure que l'image remplit son conteneur tout en conservant ses proportions */
    margin-bottom: 8px; /* Espacement entre l'image et le texte */
    border: 2px solid #1d1616; /* Légère bordure */
}

/* Comment Section Styles */
.commentSection {
  padding: 1.5rem;
  background-color: var(--background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.commentsList {
  margin: 1rem;
  max-height: 300px; /* Optional scrollable section */
  overflow-y: auto;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
}

.comment:last-child {
  border-bottom: none;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.commentContent {
  flex: 1;
}

.commentContent h4 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.25rem;
}

.commentContent p {
  font-size: 0.875rem;
  color: #666;
  line-height: 1.4;
}

.commentForm {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.commentForm textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  resize: vertical;
}

.commentForm button {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #890505;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.commentForm button:hover {
  background-color: #a80808;
}

