
.movieSliderContainer {
position: relative;
width: 100%;
height: fit-content;
overflow: hidden; 
}

.movieSlider {
display: flex;
gap: 16px;
overflow-x: auto;
scroll-behavior: smooth;
overflow-x: scroll;
-ms-overflow-style: none;  
scrollbar-width: none;
padding: 10px 0;
}


.movieItem {
min-width: 200px; 
}

.moviePoster {
width: 200px; 
height: 300px; 
border-radius: 8px;
object-fit: cover; 
}
.movieItem h3 {
font-size: medium;
}
.movieItem span {
font-size: small;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info span {
    padding: auto;
}
.scrollBtnLeft {
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: transparent;
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.scrollBtnRight {
    right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 50%;
}

.loadMoreBtn {
padding-bottom: 10px;
font-size: 16px;
background-color: transparent;
color: rgba(255, 255, 255, 0.866);
position: relative;
width: 100%;
text-align: right;
border: none;
cursor: pointer;
border-radius: 5px;
}

.loadMoreBtn:hover {
text-decoration: underline;
font-weight: bold;
}
