.container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.posterImage {
    
    display: block; /* Prevents inline spacing issues */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 8px; /* Optional: rounded corners for aesthetics */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: shadow for a nice effect */
}
.details {
    padding: 30px 0;
    
}
.overview {
    padding-top: 10px;
    padding-bottom: 2em;
}
.details h1 {
    padding: 10px;
    margin-bottom: 1em;
}

.movieActions {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 20px;
}

.rating {
    display: flex;
    align-items: center;
}

.favoriteBtn, .addToListBtn {
    background: none;
    border: none;
    cursor: pointer;
    text-align: center;
    height: 24px;
}

.listModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: var(--background);
    padding: 20px;
    border-radius: 2px;
    width: 300px;
    text-align: center;
}
.modalContent h3 {
    margin-bottom: 10px;
}
.existingLists {
    text-align: left;
}
.existingLists ul {
    list-style-type: none;
}
.existingLists li {
    padding: 8px ;
    border-bottom: 2px #fff;
    cursor: pointer;
    text-align: center;
}
.existingLists li:hover {
    background-color: #1f1f1f;
}
.existingLists button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.modalContent input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 2px;
    border: none;
}
.closeBtn {
    padding: 6px;
    background-color: brown;
    border: none;
    border-radius: 3px;
}

.castContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px; /* Ajout d'un espace entre les éléments */
    justify-content: center;
    padding: 16px; /* Ajout d'un padding pour un meilleur espacement */
}

.actorCard {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrage du contenu */
    text-align: center;
    color: #f9f9f9; 
    padding: 8px; /* Espacement interne */
}

.container h3 {
    margin-top: 1em;
}

.actorCard h4, .actorCard p {
    font-size: 0.9rem; 
    margin: 4px 0; 

}

.actorProfile {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Cercle parfait */
    object-fit: cover; /* Assure que l'image remplit son conteneur tout en conservant ses proportions */
    margin-bottom: 8px; /* Espacement entre l'image et le texte */
    border: 2px solid #1d1616; /* Légère bordure */
}
