.container {
  padding: 20px;
}
.movieSliderContainer {
position: relative;
width: 100%;
height: fit-content;
overflow: hidden; 
}

.movieSlider {
display: flex;
gap: 16px;
overflow-x: auto;
scroll-behavior: smooth;
overflow-x: scroll;
-ms-overflow-style: none;  
scrollbar-width: none;
padding: 10px 0;
}

.genreSection {
  margin-bottom: 30px;
}

.genreSection h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.movieItem {
min-width: 200px; 
}

.moviePoster {
width: 200px; 
height: 300px; 
border-radius: 8px;
object-fit: cover; 
}
.movieItem h3 {
font-size: medium;
}
.movieItem span {
font-size: small;
}

.scrollBtnLeft {
left: 10px;
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px;
font-size: 24px;
border: none;
cursor: pointer;
z-index: 1;
}

.scrollBtnRight {
right: 10px;
position: absolute;
top: 50%;
transform: translateY(-50%);
background: rgba(0, 0, 0, 0.5);
color: white;
padding: 10px;
font-size: 24px;
border: none;
cursor: pointer;
z-index: 1;
}