.container {
  margin: 0% 15%;
}

.profileDetails {
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.profileDetails h2 {
    text-align: center;
    padding-bottom: 3rem;
}
.detailsTable,
.moviesTable {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.detailsTable th,
.moviesTable th {
  text-align: left;
  background-color: black;
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.detailsTable td,
.moviesTable td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.detailsTable button {
  padding: 7px 7px;
  background-color: brown;
  border: none;
  border-radius: 2px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-items: space-between;
  margin-top: 10px;
}
.genresList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, equal width */
  gap: 10px; /* space between items */
}
.genresList input {
    margin-right: 5px;
}
.moviesTable tr:nth-child(even) {
  background-color: #f9f9f9;
}
.checkedMovies {
  margin-top: 2rem;
}

.checkedMovies ul {
  list-style: none;
  padding: 0;
}

.checkedMovies li {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.checkedMovies li span {
  font-size: 1rem;
}

