.background {
    background-image: url('/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.formContainer {
    width: 70%;
    background-color: rgba(26, 23, 23, 0.942);
    color: rgb(229, 229, 229);
    padding: 5em;
    margin: auto;
    height: 91.6vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title {
    font-size: 4rem;
    font-weight: bold;
    font-family: var(--font-geist-sans);
}
.form{
    height: 300px;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: space-around;
}

.input {
    min-width: 300px;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.893);
    height: 2rem;
    padding: 2px;
    color: rgba(34, 34, 34, 0.865);
}

.submitBtn {
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-geist-mono);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

.submitBtn:hover {
    background-color: rgb(208, 210, 211);
    color: rgba(0, 0, 0, 0.879);
    cursor: pointer;
}